*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-header-container .div-header-class {
  display: block;
  width: 100%;
  height: 80px;
  background-color: black; 
}
.div-header-container .div-header-class ul li {
  display: block;
  list-style: none;
  float: right;
  padding: 10px;
  }
  
.div-header-container .div-header-class ul li a{
color: wheat;
text-decoration: none;
font-size: 20px;
}

.div-header-container .div-header-class .div-header-class-logo{
  font-size: 30px;
  display: block;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: #00B7FF;
}
